*{
    font-family: "Bebas Neue", sans-serif;
  }
  
  header {
    position:absolute;
    width: 20%;
    left: 0;
    top: 0;
    height: 100%;
    overflow: hidden;
    background-color: #153E76;
  }

  header > nav {
    top:20%;
    position: absolute;
  }

  header > nav ul {
    list-style:none;
  }

  .logo{
    position: absolute;
    top: 10%;  
    width: 200px;
    height: 140px;
    left: -5%;
    right: 0;
    margin: auto;
  }

  .search {
    margin-top: 50%;
    border: 2px solid #000000;
    border-radius: 10px;
    
  }

  .button-browse, .button-my-list, .button-profile, .button-log-out {
    background: transparent;
    position: absolute;
    border: none;
    color: white;
    top: 62px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
  }

  .button-browse {
    margin-top: 40%;
  }
  
  .button-my-list {
    margin-top: 60%;
  }
  
  .button-profile {
    margin-top: 80%;
  }

  .button-log-out {
    margin-top: 100%;
  }

  .button-browse:hover, .button-my-list:hover, .button-profile:hover, .button-log-out:hover{
    cursor: pointer;
  }