<header class="menu">
    <div class="logo-div">
        <img src="../../../assets/logo_watchlist.png" alt="home" class="logo">
    </div>
    
    <nav>
        <ul class="menu-list">
            <li class="search">
                <input type="text" placeholder="search">
            </li>
            <li class="browse">
                <button class="button-browse" [routerLink]="['home']">Browse</button>
            </li>
            <li class="films-lists">
                <button class="button-films-lists" [routerLink]="['films-list-pending']">Films Lists</button>
            </li>
            <li class="series-lists">
                <button class="button-series-lists" [routerLink]="['series-list-pending']">Series Lists</button>
            </li>
            <li class="videos-lists">
                <button class="button-videos-lists" [routerLink]="['videos-list-pending']">Videos Lists</button>
            </li>
            <li class="profile">
                <button class="button-profile" [routerLink]="['profile']">Profile</button>
            </li>
            <li class="log-out">
                <button class="button-log-out" (click)="logOut()" [routerLink]="['login']">Log out</button>
            </li>
        </ul>
    </nav>
</header>
