<header class="menu">
    <img src="../../../assets/logo_watchlist.png" alt="home" class="logo">
    <nav>
        <ul class="menu-list">
            <li>
                <input class="search" type="text">
            </li>
            <li class="browse">
                <button class="button-browse" [routerLink]="['home']">Browse</button>
            </li>
            <li class="my-list">
                <button class="button-my-list" [routerLink]="['my-list']">My list</button>
            </li>
            <li class="profile">
                <button class="button-profile" [routerLink]="['profile']">Profile</button>
            </li>
            <li class="log-out">
                <button class="button-log-out" [routerLink]="['login']">Log out</button>
            </li>
        </ul>
      </nav>
</header>
