.change-password {
    position:absolute;
    width: 80%;
    left: 20%;
    top: 0;
    height: 100%;
}

.info {
    text-align: center;
    margin-top: 10%;
}

.data {
    display: contents;
    width: max-content;
    border-color: black;
    border-radius: 10%;
    border-width: 10px;
}

.data input {
    border-radius: 10px;
    border-color: #1468C5;
    height: 20px;
    width: max-content;
    padding-right: 30px;
}

.data label {
    display: block;
    margin-top: 5px;
}

.cancel {
    background: none;
    border-radius: 60px;
    border-color: #e10909;
    color: #e10909;
    width: max-content;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 2%;
}

.update {
    background: none;
    border-radius: 60px;
    border-color: #153E76;
    color: #153E76;
    width: max-content;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.cancel:hover, .update:hover {
    cursor: pointer;
}