<div class="change-password">
    <div class="info">
        <div class="current-password">
          <h3>Current password</h3>
          <div class="data">
            <input id="currentPasswd" class="campo" type="password" name="currentPassword" >
            <!--button class="btn-eye" (click)="visibilityChange1()">
              <i id="visibility" class="fa fa-eye password-icon" [ngClass]="{'fa-eye-slash': !showCurrentPassword}" ></i>
            </button-->
          </div>
        </div>
        <div class="new-password">
          <h3>New password</h3>
          <div class="data">
            <input id="newPasswd" class="campo" type="password" name="newPassword">
            <!--button class="btn-eye" (click)="visibilityChange2()">
              <i id="visibility2" class="fa fa-eye password-icon" [ngClass]="{'fa-eye-slash': !showNewPassword}" ></i>
            </button-->
          </div>
        </div>
        <div class="repeat-new-password">
          <h3>Repeat new password</h3>
          <div class="data">
            <input id="repeatNewPasswd" class="campo" type="password" name="repeatNewPassword">
            <!--button class="btn-eye" (click)="visibilityChange3()">
              <i id="visibility3" class="fa fa-eye password-icon" [ngClass]="{'fa-eye-slash': !showRepeatNewPassword}" ></i>
            </button-->
          </div>
        </div>
        <div class="botones">
            <button class="update" (click)="onSubmit()">Update</button>
            <button class="cancel" [routerLink]="['/profile']">Cancel</button>
        </div>
    </div>
    
</div>
