.change-password {
    position:absolute;
    width: 80%;
    left: 20%;
    top: 0;
    height: 100%;
}

.info {
    text-align: center;
    margin-top: 10%;
}

.data {
    display: contents;
    width: max-content;
    border-color: black;
    border-radius: 10%;
    border-width: 10px;
}

.data input {
    border-radius: 10px;
    border-color: #153E76;
    height: 20px;
    width: max-content;
    padding-right: 30px;
}

.data label {
    display: block;
    margin-top: 5px;
}

.cancel {
    background: #e10909;
    border-radius: 60px;
    border-color: black;
    color: white;
    width: max-content;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 2%;
}

.update {
    background: #153E76;
    border-radius: 60px;
    border-color: black;
    color: white;
    width: max-content;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.cancel:hover, .update:hover, #visibility:hover, #visibility2:hover, #visibility3:hover {
    cursor: pointer;
}

.btn-eye {
    background: black ;
    border: none;
    position: absolute;
    width: 1%;
    height: 1.5%;
    right: 42.5%;
    margin-top: 0.55%;
}