<div class="profile-information">
  <div class="img-profile">
    <img src="../../../assets/profile-hp.jpg" alt="img" class="image">
  </div>
  <div class="info">
    <div class="user-name">
        <h3>User name</h3>
        <div class="data">
          <input type="text" name="datos" id="user-name">
        </div>
    </div>
    <div class="name">
        <h3>Name</h3>
        <div class="data">
          <input type="text" name="datos" id="name">
        </div>
    </div>
    <div class="email">
        <h3>Email</h3>
        <div class="data">
          <input type="text" name="datos" id="email">
        </div>
    </div>
    <div class="birthdate">
        <h3>Birthdate</h3>
        <div class="data">
          <input type="text" name="datos" id="birthdate">
        </div>
    </div>
    <div class="password">
        <h3>Password</h3>
        <div class="data">
          <input type="text" name="datos" id="password">
        </div>
    </div>
    <div class="botones">
      <button class="change-passwd" [routerLink]="['/change-password']">Change password</button>
    </div>
  </div>
</div>