.forgot-paswd {
    position:fixed;
    width: 100%;
    top: 0%;
    height: 100%;
    background-color: #153E76;
}

.logo {
    position: absolute;
    top: 4%;  
    width: 120px;
    height: 120px;
    left: 0%;
    right: 0%;
    margin: auto;
}

.content {
    position: absolute;
    top: 40%;  
    width: 35%;
    height: 30%;
    left: 0%;
    right: 0%;
    margin: auto;
    background-color: white;
}

.message {
    position: absolute;
    top: 15%;  
    width: max-content;
    left: 0%;
    right: 0%;
    margin: auto;
}

.email {
    position: absolute;
    top: 40%;
    left: 0%;
    right: 0%;
    margin: auto;
    width: max-content;
    border-color: black;
    border-radius: 10%;
    border-width: 10px;
}

.email input, .password input{
    border-radius: 10px;
    border: 2px solid #153E76;
    height: 3em;
    width: max-content;
    padding-right: 120px;
}

.submit {
    position: absolute;
    top: 70%;
    left: 0%;
    right: 0%;
    margin: auto;
    background: #153E76;
    border-radius: 6px;
    border-color: black;
    color: white;
    width: 10em;
    font-size: 18px;
    font-weight: bold;
    height: 2.5em;
    padding: 0.2em;
}

.submit:hover {
    cursor: pointer;
}  