<div class="forgot-paswd">
    <div class="logo">
        <img src="../../../assets/logo_watchlist.png" alt="home" class="logo" [routerLink]="['/login']">
    </div>
    <div class="content">
        <h3 class="message">PLEASE ENTER YOUR EMAIL</h3>
        <div class="email">
            <input type="text" name="datos" id="email" placeholder="E-mail">
            <!--<input type="email" class="form-control" [formControl]="userEmail" required />-->
        </div>
        <div class="reset-password">
            <button class="submit" (click)="onReset()">Reset password</button>
        </div>
    </div>
</div>