<div class="series-main">
    <div class="link-section">
        <div class="selector-div">
            <a class="films-a" routerLink="/films">Films</a>
            <a class="series-a" routerLink="/series">Series</a>
            <a class="videos-a" routerLink="/videos">Videos</a>
        </div>

        <div class="filter-div">
            <p>FILTER</p>
        </div>
    </div>

    <div class="series-section">
        <ul class="series-list">
            <li *ngFor="let series_item of series">
                <div class="item">
                    <img src="{{ series_item.image }}" class="item-image">
                    <p class="item-title" [routerLink]="'/series-information/' + series_item.id"><b>{{ series_item.title }}</b></p>
                </div>
            </li>
        </ul>
    </div>
</div>