<div class="login">
    <div class="logo">
        <img src="../../../assets/logo_watchlist.png" alt="home" class="logo-image">
    </div>
   <div class="content">
        <div class="link-div">
            <button class="button-login" [routerLink]="['/login']">Login</button>
            <button class="button-signup" [routerLink]="['/sign-up']">Sign Up</button>
        </div>

        <form [formGroup]="LogInForm" (ngSubmit)="LogIn()" novalidate>
            <div class="data">
                <input type="text" id="email" formControlName="email" placeholder="Email">
            </div>

            <!--div *ngIf="email?.dirty" >
                <span style ="color: red;" *ngIf="LogInForm.get('email')?.errors?.['required']">Field email is required</span>
                <span *ngIf="LogInForm.get('email')?.errors?.['email']">It has to be an email account</span>
            </div-->  

            <div class="data">
                <input type="password" id="password" formControlName="password" placeholder="Password">
            </div>

            <div class="data">
                <label><a [routerLink]="['/forgot-password']">Have you forgotten the password?</a></label>
            </div>
            <div class="login1">
                <button [disabled]="LogInForm.invalid" class="submit" type="submit">Access</button>
            </div>

            <div class="login2">
                <button class="google" (click)="GoogleSignIn()">Login with Google</button>
            </div>
        </form>
        <!--<div class="email">
            <input type="text" name="datos" id="email" placeholder="E-mail">
        </div>
        <div class="password">
            <input type="text" name="datos" id="password" placeholder="Password">
        </div>
        <div class="recover-password">
            <label><a [routerLink]="['/forgot-password']">Have you forgotten the password?</a></label>
        </div>
        <div class="access">
            <button class="submit">Access</button>
        </div>-->
    </div>
</div>