.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
}

.app-nav {
    width: 16%;
    min-height: 100%;
}

.app-pages {
    width: 84%;
    height: 100%;
    padding: 1em;
}

.app-login {
    width: 100vw;
    height: 100vh;
}