<div class="series-container">
    <div class="title-container">
        <h2>{{ series.title ? series.title.toUpperCase() : '' }}</h2>
    </div>

    <div class="main-container">
        <div class="information-container">
            <div class="information">
                <ul class="information-list">
                    <li>
                        <p><b>Original Title: </b>{{ series.title }}.</p> 
                    </li>
                    <li>
                        <p><b>Year: </b>{{ series.release_date }}.</p> 
                    </li>
                    <li>
                        <p><b>Director: </b>{{ series.director }}.</p>
                    </li>
                    <li>
                        <p><b>Cast: </b>{{ series.cast ? series.cast.join(', ') : '' }}.</p>
                    </li>
                    <li>
                        <p><b>Episodes: </b>{{ series.episodes }}.</p>
                    </li>
                    <li>
                        <p><b>Seasons: </b>{{ series.seasons }}.</p>
                    </li>
                    <li>
                        <p><b>Genre: </b>{{ series.genres ? series.genres.join(', ') : '' }}.</p>
                    </li>
                    <li>
                        <p><b>Synopsis: </b>{{ series.synopsis }}.</p>
                    </li>
                    <li>
                        <p><b>Links: </b>{{ series.links ? series.links.join(', ') : '' }}.</p>
                    </li>
                </ul>
            </div>

            <div class="image">
                <img src="{{ series.image }}" alt="series image">
            </div>
        </div>

        <div class="lists-container">
            <button (click)="isToWatch ? removeFromToWatchList() : toWatchList()" [class.active]="isToWatch" class="to-watch">
                {{ isToWatch ? 'REMOVE TO WATCH' : 'TO WATCH' }}
            </button>

            <button (click)="isWatching ? removeFromWatchingList() : watchingList()" [class.active]="isWatching" class="watching">
                {{ isWatching ? 'REMOVE WATCHING' : 'WATCHING' }}
            </button>

            <button (click)="isWatched ? removeFromWatchedList() : watchedList()" [class.active]="isWatched" class="watched">
                {{ isWatched ? 'REMOVE WATCHED' : 'WATCHED' }}
            </button>
        </div>
    </div>
</div>