<div class="video-container">
    <div class="title-container">
        <h2>{{ video.title ? video.title.toUpperCase() : '' }}</h2>
    </div>

    <div class="main-container">
        <div class="information-container">
            <div class="information">
                <ul class="information-list">
                    <li>
                        <p><b>Original Title: </b>{{ video.title }}.</p> 
                    </li>
                    <li>
                        <p><b>Year: </b>{{ video.release_date }}.</p> 
                    </li>
                    <li>
                        <p><b>Creator: </b>{{ video.creator }}.</p>
                    </li>
                    <li>
                        <p><b>Description: </b>{{ video.description }}.</p>
                    </li>
                    <li>
                        <p><b>Running Time: </b>{{ video.duration }} min.</p>
                    </li>
                    <li>
                        <p><b>Category: </b>{{ video.category }}.</p>
                    </li>
                    <li>
                        <p><b>Link: </b>{{ video.link }}.</p>
                    </li>
                </ul>
            </div>

            <div class="image">
                <img src="{{ video.image }}" alt="video image">
            </div>
        </div>

        <div class="lists-container">
            <button (click)="toWatchList()" class="to-watch">TO WATCH</button>
            <button (click)="watchedList()" class="watched">WATCHED</button>
        </div>
    </div>
</div>